<div class="container">
  <h1>Zarządzanie kategoriami</h1>
  <div class="break-line"></div>
  <div class="div-center">
    <span>Rodzaj: </span>
    <select id="sel-type">
        <option value="expenditure">WYDATEK</option>
        <option value="income">DOCHÓD</option>
    </select>
  </div>
  <div class="break-line"></div>
  <table id="categories-table" class="table table-striped category-table">
    <thead>
      <tr>
        <th colspan="3" class="table-header"><b>Kategorie</b></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories">
        <td></td>
        <td>{{category.name}}</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
